
@{
    ViewData["Title"] = "About Us";
}

<h1>About Us</h1>
<br />
<p>James Khumalo, born and raised in Johannesburg, South Africa, is the visionary entrepreneur 
    behind KhumaloCraft. With a passion for artisanal craftsmanship instilled in him 
    from an early age, James embarked on a journey to establish KhumaloCraft as a global 
    e-commerce platform showcasing handcrafted products. His upbringing in a culturally rich 
    environment inspired him to connect artisans worldwide with a discerning audience, bridging 
    cultures through the appreciation of craftsmanship. James's relentless pursuit of excellence 
    and innovation drives him to create a scalable, accessible, and user-friendly platform that 
    ensures a positive shopping experience for customers while empowering artisans to showcase 
    their talents on a global stage. Beyond his entrepreneurial endeavors, James is known for 
    his philanthropic efforts in supporting local communities and fostering sustainable practices 
    within the artisanal industry.</p>

