 @{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Khumalo's Crafts</h1>
    <br />
    <br />
    <div class="text-center"
        <p>Dear artisans and discerning shoppers alike, I'm thrilled to have you join our global community 
            celebrating the beauty of handcrafted products. Whether you're here to showcase your unique 
            creations or explore the treasures crafted with passion from artisans around the world, you've 
            come to the right place. I wish you all an enjoyable shopping experience, and I invite you to 
            immerse yourself in the artistry and craftsmanship that KhumaloCraft has to offer. 
            Thank you for being a part of our journey. Happy exploring!</p>
    </div>
</div>
